*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}





/*********************** Navbar **************************/
.navbar{
  background-color: #42414f !important;

} 

.nav-link{
  font-size: larger;
  border-radius: 8px;
  background-color: rgb(87, 183, 140);
  margin-left: 10px ;
}

.nav-link:hover{

  background-color: rgb(53, 115, 86);
  border-radius: 5px;
}

@media screen and (max-width: 576px)  {
  .nav-link{
    text-align: center;
    font-size: larger;
    border-radius: 0px;
    background-color:  #42414f;
    margin-left: 10px ;
  }

  .nav-link:hover{

    background-color: rgb(53, 115, 86);
    border-radius: 0px;
  }

}



/************************************** Card Page ************************************************/

.body-card{
    background:linear-gradient(90deg,rgb(47, 78, 113),rgb(47, 69, 88));
  }
  
  .main{
    
    flex-wrap: wrap;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .card-container{
    border-radius: 15px;
    width: 400px;
    display: flex;
    box-shadow: 5px 5px 14px #000000;
    margin: 30px 0;
}
.text-title{
    font-size: larger
}


.img-card{
    width: 20rem;
    height: 20rem;
    margin: 0 auto;
}


p span{
    font-weight: 700;
    font-size: large;
}

.descripcion{
    display: flex;
    flex-direction: column;
    padding-bottom:10px ;
}

.button{
    width: 210px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

@media screen and (max-width: 514px)  {



  .card-container{
    width: 300px;
}

.img-card{
  width: 280px;
  height: 20rem;
  margin: 0 auto;
}

}










/********************************************** Form **************************************/

.body-form{
    height: auto;
    background: linear-gradient(to right, rgb(42, 37, 126), #3878a9);
    font-family: 'Trebuchet MS', sans-serif;
  }

.container-form{ 
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



form {
    text-align: start;
    min-width:300px;
    max-width:400px;
    padding:20px;
    margin:20px auto;
    background:#ffffffad; 
    -webkit-box-shadow: 3px 3px 23px -9px rgba(0,0,0,0.86);
    -moz-box-shadow: 3px 3px 23px -9px rgba(0,0,0,0.86);
    box-shadow: 3px 3px 23px -9px rgba(0,0,0,0.86);
    border-radius: 8px;
    font-weight: 700;
    font-size: 20px;
  }

  .form-group{
    padding-top: 8px;
    padding-bottom: 8px;
    
  }

  .form-control{
    border-radius:5px !important;
  }
  
  form input {
    border:1px solid #eee;
    border-radius:0 !important;
    padding:5px 8px;
    color:#444;
  }


  .btn-container{
    display: flex;
    justify-content: space-between;
  }
  
  .btn-form{
    font-size: 18px;
    font-weight: 500;
    color:#555;
    background:#ffffffad;
    border:1px solid #fff !important;
    margin-top:20px;
    border-radius:0px Important;
  }
  
  .btn-form:hover {
    background:rgb(56, 128, 63) !important;
    color: white;
    border: none !important;
  }
  

  .title-form{
    font-size: 50px;
  }

  @media screen and (min-width: 576px)  {
  
    form {
      text-align: start;
      min-width:400px;
      max-width:400px;
      padding:20px;
      margin:20px auto;
      background:#ffffffad; 
      -webkit-box-shadow: 3px 3px 23px -9px rgba(0,0,0,0.86);
      -moz-box-shadow: 3px 3px 23px -9px rgba(0,0,0,0.86);
      box-shadow: 3px 3px 23px -9px rgba(0,0,0,0.86);
      border-radius: 8px;
      font-weight: 700;
      font-size: 20px;
    }
  }


    /********************************************** Footer **************************************/

    .footer{
      background-color: #42414f;
      color: white;   
    }

    .section_padding {
      padding: 0 8rem;
      flex-direction: column;
      display: flex;  
    }

    .container-fluid {
      width: 100%;
      padding-right: 0;
      padding-left: 0;
      margin-right: auto;
      margin-left: auto;
    }
    .links-column {
      width: 150;
      margin: 1rem;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      color: white;
    }

    .info-column {
      width: 150;
      margin: 1rem;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      color: white;
    }

    .redes-column {
      width: 150;
      margin: 1rem;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      color: white;
    }
    .socialmedia a{
      margin-bottom: 0.5rem;
    }

    .socialmedia img{
      width: 30px;
      margin: 0 15px;
    }

    .footer-content{
      display: flex;
      justify-content: space-between;
    }

    .links-colum, info-colum, redes-column {
      flex:2;
    }
    .links-colum h4 {
      margin-bottom: 0.9rem; /*sirve para separar los elementos*/
      font-size: 12px;
      line-height: 17px;
    }

    .links-column a {
      font-size: 14px;
      line-height: 15px;
      margin: 0.3rem 0;
    }

    .info-column a {
      font-size: 14px;
      line-height: 15px;
      margin: 0.3rem 0;
    }

    .sb_footer-below {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding: 1px;
      color: white;
    }

    .sb_footer-below p {
      font-size: 12px;
      line-height: 15px;
      margin: 0.5rem 0;
    }

      hr {
        background-color: white !important;
        width: 100%;
      }

    .sb_footer-copyright {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 0.1rem;
      margin-left: 1rem;
    }


    .sb_footer-credit {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      color: white;
    }

    @media screen and (max-width: 850px) {
      .sb_footer-padding h1 {
        font-size: 44px;
        line-height: 50px;
      }
    }

    @media screen and (max-width: 550px) {
      .sb_footer-padding h1 {
        font-size: 34px;
        line-height: 42px;
      }
      .sb_footer-links div {
        margin: 1rem 0;
      }

      .sb_footer-below {
        flex-direction: column;
        justify-content: left;
      }

      .sb_footer-below p {
        margin-left: 0rem;
        margin-top: 1rem;
      }

      .sb_footer-credit {
        flex-direction: column;
        align-items: flex-start;
      }

    }

    @media screen and (max-width: 400px) {
      .sb_footer-heading h1 {
        font-size: 27px;
        line-height: 38px;
      }
      
    }
    